html {
  scroll-behavior: smooth;
}

body {
  background-color: #33383b;
  /* background: linear-gradient(37deg, rgba(51,56,59,1) 0%, rgba(59,63,66,1) 100%); */
  color: #54d7ee;
  text-shadow: 2px 2px black;
  animation: show-items .55s ease-out;
  font-family: 'Secular One', sans-serif;
}

a {
  text-decoration: none;
  color: #54d7ee;
}

a:hover {
  color: #4dc4da;
}

.body-container {
  height: 90vh;
}

.title-text {
  font-size: 4em;
}

.sidebar {
  position: fixed;
  height: 50vh;
  width: 10vw;
  left: 0;
  top: 25vh;
  animation: show-items .75s ease-out;
  z-index: 10;
}
.sidebar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 12vh;
  display: none;
  z-index: 10;
  background-color: #33383b;
}

.sidebar-icon {
  font-size: 4em;
  cursor: pointer;
}

.container-divider {
  border: 10px solid #2b2d2e;
  background-color: #2b2d2e;
  margin: 0;
}

/* #about-me {
  background: rgb(43,45,46);
  background: linear-gradient(180deg, rgba(43,45,46,1) 36%, rgba(62,65,67,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.about-div {
  background-color: #fafafa;
  border-radius: 10px;
  color: #08000f;
  text-shadow: none;
  font-size: 1.15em;
  font-family: 'Roboto', sans-serif;
}

.project-card {
  background-color: #fafafa;
  border-radius: 10px;
  block-size: fit-content;
}

.project-card>h2, h5, p {
  color: #08000f;
  text-shadow: none;
}

.project-card> p, li {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #33383b;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #54d7ee;
  border: 3px solid black;
}

@media only screen and (max-width: 900px){
  .sidebar {
    display: none;
  }
  .sidebar-mobile{
    display: inherit;
  }
}

@media only screen and (max-width: 350px){
  .title-text {
    font-size: 2em;
  }
  .title-sub {
    font-size: 1em;
  }
}

@keyframes show-items{
  0%{
    opacity: 0;
  }
  45%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}